#menu {
    width: 200px;
    margin-left: -200px;
}
#menu .pure-menu-heading {
    font-size: 100%;
    padding: .5em .5em;
}
#layout.active #menu {
    left: 200px;
    width: 200px;
}
#layout.active .menu-link {
    left: 200px;
}
@media (min-width: 48em) {
    #menu {
        left: 200px;
    }
}
.header, .content {
    padding-left: 4em;
}
.header h2 {
    font-size: 1em;
}
.panel  {
    display: none;
}
.content {
    margin: 0px;
}
.page {
    margin-top: 40px;
}
.pure-button {
    color: white;
    padding: 8px 8px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.main-buttons {
    margin: 50px auto;
    text-align: center;
}
.main-buttons button {
    width: 120px;
    margin: 5px auto;
}
.button-update {
    background: #1f8dd6;
}
.button-reset {
    background: rgb(202, 60, 60);
}
.button-reconnect {
    background: rgb(202, 60, 60);
}
.button-clear {
    margin-top: 5px;
    background: rgb(202, 60, 60);
}
.pure-g {
    margin-bottom: 20px;
}
legend {
    font-weight: bold;
}
.l-box {
    padding-right: 1px;
}
#topics .pure-g {
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 2px dashed #e5e5e5;
}
label.form-label {
    margin-top: 8px;
    font-weight: bold;
}
#topics div.more {
    display: none;
}
legend.module,
.module {
    display: none;
}
.pure-form input[type=text][disabled] {
    color: #777777;
}
div.hint {
    font-size: 80%;
    color: #ccc;
    margin-top: 0px;
}
div.state {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 30px;
}
.state div {
    font-size: 80%;
}
.state span {
    font-size: 80%;
    font-weight: bold;
}
.pure-g legend {
    letter-spacing: 0;
}
